[package]
version = "0.1.0"
name = "rsp"
edition = "2021"

[dependencies]
tokio.workspace = true
url.workspace = true
tracing-subscriber = "0.3.18"
dotenv = "0.15.0"
clap = { version = "4.5.7", features = ["derive", "env"] }
eyre = "0.6.12"
serde.workspace = true
serde_json.workspace = true
strum = "0.27"
csv = "1.1"

# workspace
rsp-client-executor.workspace = true
rsp-host-executor.workspace = true
rsp-primitives.workspace = true
rsp-provider.workspace = true

# alloy
alloy-chains.workspace = true
alloy-genesis.workspace = true
alloy-primitives.workspace = true
alloy-consensus.workspace = true
alloy-provider.workspace = true


# reth 
reth-primitives-traits.workspace = true

# revm
revm-bytecode.workspace = true

# sp1
sp1-sdk.workspace = true
sp1-core-executor.workspace = true

[dev-dependencies]
alloy-network.workspace = true
rsp-client-executor.workspace = true
serde_json = "1.0"
thousands = "0.2.0"
madato = "0.7.0"

[build-dependencies]
sp1-build.workspace = true

[features]
execution-witness = ["rsp-host-executor/execution-witness"]