[package]
version = "0.1.0"
name = "rsp"
edition = "2021"

[dependencies]
tokio.workspace = true
url.workspace = true
tracing.workspace = true
tracing-subscriber = "0.3.18"
dotenv = "0.15.0"
clap = { version = "4.5.7", features = ["derive", "env"] }
serde_json.workspace = true
serde.workspace = true
bincode = "1.3.3"
csv = "1.1"
# workspace
rsp-host-executor.workspace = true
rsp-client-executor.workspace = true

# alloy
alloy-rpc-types = { workspace = true, features = ["eth"] }
alloy-provider = { workspace = true, features = ["ws"] }
alloy-transport.workspace = true
alloy-transport-ws.workspace = true

# reth 
reth-primitives.workspace = true

# sp1
sp1-sdk = "4.0.0"

eyre = "0.6.12"
reqwest = "0.12.9"
base64 = "0.22.1"
hex = "0.4.3"
futures = "0.3"

[build-dependencies]
sp1-helper = "4.0.0"

[features]
default = []
cuda = ["sp1-sdk/cuda"]
