[package]
version = "0.1.0"
name = "rsp"
edition = "2021"

[dependencies]
tokio.workspace = true
eyre.workspace = true
url.workspace = true
tracing-subscriber = "0.3.18"
dotenv = "0.15.0"
clap = { version = "4.5.7", features = ["derive", "env"] }
serde_json.workspace = true
serde.workspace = true
bincode = "1.3.3"
csv = "1.1"
# workspace
rsp-host-executor.workspace = true
rsp-client-executor.workspace = true

# alloy
alloy-provider.workspace = true

# reth 
reth-primitives.workspace = true

# sp1
sp1-sdk = "3.0.0"

[build-dependencies]
sp1-helper = "3.0.0"

[features]
default = []
cuda = ["sp1-sdk/cuda"]
