[package]
name = "collect-stdin"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio.workspace = true
url.workspace = true
tracing.workspace = true
tracing-subscriber = "0.3.18"
dotenv = "0.15.0"
clap = { version = "4.5.7", features = ["derive", "env"] }
eyre = "0.6.12"
bincode = "1.3.3"

# workspace
rsp-host-executor.workspace = true
rsp-primitives.workspace = true
rsp-provider.workspace = true

# alloy
alloy-chains.workspace = true
alloy-provider.workspace = true

# sp1
sp1-sdk.workspace = true

[build-dependencies]
sp1-build.workspace = true

[features]
default = ["execution-witness"]
execution-witness = ["rsp-host-executor/execution-witness"]
